doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' href='/static/img/mainicon.png')
        link(rel='stylesheet' href='/static/css/base.css')
        link(rel='stylesheet' href='/static/css/w3-4.min.css')
        script(src='/static/js/jquery-3.min.js')
        block basehead
    body
        block basebody

