doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/static/w3/css/w3.min.css')
        script(src='/static/jquery/javascript/jquery.min.js')
    body
        p Hello World!

