extends logged.pug

block logged_head
    link(rel='stylesheet' href='/plot/css/plot.css')
    script(src='/d3/js/d3-4.5.0.js')
    script(src='/plot/js/plot.js')

block logged_body
    each sample in samples
        div(id='sample-panel-' class="w3-panel w3-card-2 sample-panel" style="margin:30px 30px;")
            div(class="w3-row")
                div(id='sample-powder-info-' class="w3-third w3-container w3-right-align w3-small sample-powder-info" style="padding-right:40px;")
                    h4 #{sample.name}
                    p <b>Chemistry:</b><br> #{sample.chemistry}
                    p <b>Locality:</b><br> #{sample.locality}
                    p <b>Source:</b><br> #{sample.source}
                div(id='sample-powder-chart-' class="w3-twothird w3-container sample-powder-chart")
