doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Ewald - #{title}
        link(rel='stylesheet' href='/css/base.css')
        link(rel='stylesheet' href='/w3/css/w3.css')
        link(rel='icon' href='/img/icons/mainicon.png')
        script(src='/jquery/js/jquery-3.1.1.min.js')
        block base_head
    body
        block base_body
